body{
    margin: 0px;
    background-image: url('home_jet_slide_1_bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 120% auto;
    background-position: top;
    font: 17px Arial, Helvetica, sans-serif;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-inline: 30px;
}
.menu ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: inline-block;

}
.menu a{
    text-decoration: none;
    color: #ACB2B8;
    display: block;
    padding: 15px;
    text-align: center;
}
a:hover{
  color: white;  
  transition-duration: 0.5s;
}
.menu li{
    float: left;
}
#buy-color{
    color: #B59A5A;
}
.slider-top h2{
    font-style: italic;
    font-weight: 4000;
    font-size: 50px;
    letter-spacing: 2px;

}

.slider-top p{
    line-height: 33px;
    font-weight: 100;
    font-size: 33px;
    letter-spacing: 2px;
}

.slider-top{
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    color: white;
    float: right;
    width: 350px;
    padding-right: 100px;
    margin-top: 400px;
    display: flex;
    align-items: flex-start;
    gap: 12px;    
}
.line-img{
    height: 200px;
    margin-top: 30px;
}
